.cajagrande{
    background-color: yellow;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.botones{
    background-color: yellow;
    
    display: flex;
    align-items: center;
    justify-content: center; 
}
#hms{
    height:68px;
    padding:5px 0;
    font-size:50px;
    color:#000;
    font-family:'Courier New', Courier, monospace
}